* {
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins, sans-serif;
}

/*NavBar styling*/
header{
   position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav__title ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav__image {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #002b11;
}

.nav__image img {
  height: 50px;
  width: 50px;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: #002b11;
}

.nav__list li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.nav__list li:hover {
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  background-color: #dcdcdc;
}

.nav__icons i {
  padding: 0px 10px;
  border-right: 1px solid;
  color: #002b11;
}

.nav__icons {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #002b11;
}

.nav__icons-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid white;
}

.nav__icons-group:hover {
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  background-color: #dcdcdc;
  cursor: pointer;
}

.nav__icons-button button {
  font-family: poppins, sans-serif;
  font-size: 1rem;
  background-color: #002b11;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

/*Suggestion*/
.suggestion-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  color: #002b11;
}

.suggestion__title {
  font-size: 2rem;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.suggestion__list {
  display: flex;
  list-style: none;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

.suggestion__list li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.suggestion__search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(213, 213, 213);
  padding: 5px;
  border-radius: 30px;
  max-width: 700px;
  width: 100%;
}

.suggestion__search input {
  align-items: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  background-color: rgb(241, 241, 241);
}

.suggestion__search input:focus {
  outline: none;
}

.suggestion__search-icon {
  display: flex;
  align-items: center;
  width: 65%;
  gap: 10px;
  padding: 10px;
}

.suggestion__search-button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #00d352;
}

/*Welcome image*/
.welcome-section {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  position: relative;
}

.welcome__image {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.welcome__image img{
  width: 100%;
  transition: transform 0.8s ease-in;
}

.welcome__image:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.welcome__title {
  position: absolute;
  right: 5%;
  left: 5%;
  bottom: 20%;
  color: #dcdcdc;
  font-size: 1.2rem;
}

.welcome__button {
  position: absolute;
  left: 5%;
  bottom: 2%;
  right: 5%;
}

.welcome__button button {
  font-family: Poppins, sans-serif;
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* Bestspots */
.bestspots__title {
  color: #002b11;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bestspots__title h3 {
  font-weight: bolder;
}

.bestspots__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.bestspots__image-card {
  position: relative;
  width: 280px;
  height: 300px;
  cursor: pointer;
}

.bestspots__image-card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.8s ease-in-out;
}
.bestspots__image-card:hover{
  transform: scale(1.02);
  opacity: 80%;
}

.bestspots__image-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 100%;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* visiting card */
.visitingcard-container {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  flex-wrap: wrap;
}

.visitingcard__title{
  max-width: 250px;
  width: 100%;
  margin: 2%;
}

.visitingcard__title img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  transform: rotate(-5deg);
  border-radius: 40px;
  cursor: pointer;
}

.visitingcard__title img:hover{
  opacity: 80%;
}
.visitingcard__desc {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40%;
  color: #002b11;
}

.visitingcard__desc button {
  border: none;
  padding: 10px;
  font-family: poppins, sans-serif;
  border: #002b11 solid 1px;
  border-radius: 20px;
  color: #002b11;
  cursor: pointer;
}

.visitingcard__desc button:hover {
  background-color: #dcdcdc;
}

/* Nearby */
.nearby-container {
  height: auto;
}

.nearby__title {
  color: #002b11;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding-left: 5%;
}

.nearby__title h3 {
  font-weight: bolder;
}

.nearby__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: #002b11;
  font-size: 0.9rem;
}

.nearby__image-card {
  position: relative;
  max-width: 280px;
  width: 100%;
  cursor: pointer;
}

.nearby__image-card img {
  width: 100%;
  border-radius: 20px;
}

.nearby__image-card img:hover{
  opacity: 80%;
}

.nearby__image-card span {
  color: #00852f;
}

.nearby__image-heart {
  font-size: 1.2rem;
  top: 2%;
  left: 80%;
  position: absolute;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-family: poppins, sans-serif;
}
.nearby__image-heart:hover {
  background-color: #dcdcdc;
}
/* soldinner */
.solodinner-container {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  flex-wrap: wrap;
}

.solodinner__title{
  max-width: 200px;
  width: 100%;
  margin: 2%;
}

.solodinner__title img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  transform: rotate(-5deg);
  border-radius: 40px;
  cursor: pointer;
}
.solodinner__title img:hover{
  opacity: 80%;
}
.solodinner__desc {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40%;
  color: #002b11;
}

.solodinner__desc button {
  border: none;
  padding: 10px;
  font-family: poppins, sans-serif;
  border: #002b11 solid 1px;
  border-radius: 20px;
  color: #002b11;
  cursor: pointer;
}

.solodinner__desc button:hover {
  background-color: #dcdcdc;
}

/* Inspiration to get you going */
.inspiration-container {
  background-color: #f7f7f7;
  margin: auto;
  color: #002b11;
}

.inspiration__title {
  width: 90%;
  margin: auto;
  padding: 5%;
}

.inspiration__image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inspiration__image-card {
  position: relative;
  max-width:350px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.inspiration__image-card img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.8s ease-in-out;
}

.inspiration__image-card img:hover{
  opacity: 80%;
  transform: scale(1.02);
}
.inspiration__image-heart {
  font-size: 1.2rem;
  top: 3%;
  left: 80%;
  position: absolute;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  color: #000000;
  font-family: poppins, sans-serif;
}

.inspiration__image-heart:hover {
  background-color: #dcdcdc;
}

.inspiration__image-card p {
  padding: 20px;
}

/* Things to do—right now */
.thingstodo-container {
 height: auto;
}

.thingstodo__title {
  color: #002b11;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.thingstodo__title h3 {
  font-weight: bolder;
  padding: 0px 20px;
}

.thingstodo__title p{
  padding: 0px 20px;
}

.thingstodo__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: #002b11;
  font-size: 0.9rem;
}

.thingstodo__image-card {
  position: relative;
  max-width: 280px;
  width: 100%;
  cursor: pointer;
}

.thingstodo__image-card img {
  width: 100%;
  border-radius: 5px;
}

.thingstodo__image-card img:hover{
  opacity: 80%;
}

.thingstodo__image-card span {
  color: #00852f;
}

.thingstodo__image-heart {
  font-size: 1.2rem;
  top: 2%;
  left: 80%;
  position: absolute;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  color: #000000;
  font-family: poppins, sans-serif;
}

.thingstodo__image-heart:hover {
  background-color: #dcdcdc;
}

.thingstodo__image-card h6 {
  background-color:#f7f7f7;
  width: fit-content;
  padding: 5px;
  font-weight: lighter;
}

/* Iconic places you need to see */

.iconicplaces__title {
  color: #002b11;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconicplaces__title h3 {
  font-weight: bolder;
  padding: 20px;
}

.iconicplaces__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.iconicplaces__image-card {
  position: relative;
  max-width: 280px;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.iconicplaces__image-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.8s ease-in-out;
}

.iconicplaces__image-card img:hover{
  cursor: pointer;
  opacity: 80%;
  transform: scale(1.02);
}

.iconicplaces__image-text {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: poppins, sans-serif;
}

/* wanderer card */
.wanderer-container{
  width: 75%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f7;
}
.wanderer__image img{
  max-width:400px;
  width: 100%;
}

.wanderer__title p{
  text-align: center;
  margin: 10px;
}

.wanderer__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.wanderer__title-2{
  text-align: center;
  padding: 10px;
}

.wanderer__title-3 button{
  font-family: poppins,sans-serif;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background-color:#002b11;
  color: white;
  border: none;
  margin: 20px;
}

.wanderer__title-3 button:hover{
  cursor: pointer;
  background-color: hsla(144, 100%, 8%, 0.9);
}

/* Travellers' Choice */
.travellerschoice-container{
  background-color: #002B11;
}

.travellerschoice__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.travellerschoice__title{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  gap: 20px;
  margin: 10px;
}

.travellerschoice__image{
  max-width: 500px;
  margin: 10px;
}

.travellerschoice__image img{
  max-width: 500px;
  width: 100%;
}

.travellerschoice__title button{
  font-family: poppins,sans-serif;
  border: none;
  padding: 10px;
  color: #002b11;
  border-radius: 20px;
}

/* Browse themed collections */

.browsetheme__title {
  color: #002b11;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10%;
}

.browsetheme__title h3 {
  font-weight: bolder;
}

.browsetheme__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.browsetheme__image-card {
  position: relative;
  width: 280px;
  height: 400px;
  cursor: pointer;
}

.browsetheme__image-card img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.browsetheme__image-card img:hover{
  transform: scale(1.02);
  opacity: 80%;
}

.browsetheme__image-text {
  position: absolute;
  bottom: 23%;
  left: 3%;
  width: 100%;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* footersection */
footer{
  background-color: #f7f7f7;
  color: #002b11;
  font-weight:300;
}

.footer-container1 p{
  font-size: 0.8rem;
}

.footer-container1 h5{
  padding-top:10px ;
}

.footer-container1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.footerone__section1{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.section1__title,.section2__title{
  padding: 10px;
}

.footer-container2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.copyright__section1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
}

.copyright__section1__title h6{
    font-weight: lighter;
}

.copyright__section1__list{
  display: flex;
  text-decoration: underline;
  gap: 10px;
  flex-wrap: wrap;
  width: 60%;
  font-weight: bolder;
}

.copyright__section2{
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  gap: 10px;
  align-items: start;
}
.copyright__section2 select{
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #00852f;
  font-family: poppins,sans-serif;
}

.copyright__section2 select:hover{
  background-color: #dcdcdc;
}

 @media (max-width: 500px) {
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .welcome__title {
      font-size: 0.9rem;
      left: 5%;
      right: 5%;
      bottom: 10%;
  }

  .welcome__title p{
    display: none;
  }

  .welcome__button {
      display: none;
  }
  .nav__title{
    display: none;
  }
  .travellerschoice__image img {
    width: 250px;
  }
}
